<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2013 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vansky.adm.persistence.AdvertMapper">


	<!-- TODO MyBatis 3 does not map booleans to integers <update id="updateProfile" 
		parameterType="Account"> UPDATE PROFILE SET LANGPREF = #{languagePreference}, 
		FAVCATEGORY = #{favouriteCategoryId}, MYLISTOPT = #{listOption}, BANNEROPT 
		= #{bannerOption} WHERE USERID = #{username} </update> -->
	
	<select id="getAdvert" resultType="Advert">
    SELECT
      *
    FROM ADVERT
    WHERE ADVERT.ADVERTID = #{advertId}
    
  </select>
  
  <select id="getAdvertList" resultType="Advert">
    SELECT
      *
    FROM ADVERT WHERE STATUS != -1 limit 0,20  ORDER BY  REMAINEDPERIOD  
  </select>

<!--	<update id="suspendAdvert" parameterType="Advert">
		UPDATE ADVERT SET
		USERNAME=#{username}, 
		STARTDATE=#{startDate},
		EXPIRYDATE=#{expiryDate},
		SERVICEPERIOD=#{servicePeriod},
		REMAINEDPERIOD=#{remainedPeriod},
		SUSPENDDATE = #{suspendDate},
		STATUS = #{status}
		WHERE ADVERTID = #{advertId}
	</update>	-->
	
	<update id="suspendAdvert" parameterType="Advert">
		UPDATE ADVERT SET
		SUSPENDDATE = #{suspendDate},
		STATUS = 0
		WHERE ADVERTID = #{advertId}
	</update>
	
	<update id="updateRemainedDate" parameterType="Advert">
		UPDATE ADVERT SET
		REMAINEDPERIOD=#{remainedPeriod},
		STATUS = #{status}
		WHERE ADVERTID = #{advertId}
	</update>

	<update id="resumeAdvert" parameterType="Advert">
		UPDATE ADVERT SET
		EXPIRYDATE=#{expiryDate},
		REMAINEDPERIOD=#{remainedPeriod},
		STATUS = 1
		WHERE ADVERTID = #{advertId}
	</update>

	<!-- TODO MyBatis 3 does not map booleans to integers <insert id="insertProfile" 
		parameterType="Account"> INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, MYLISTOPT, 
		BANNEROPT, USERID) VALUES (#{languagePreference}, #{favouriteCategoryId}, 
		#{listOption}, #{bannerOption}, #{username}) </insert> -->



	<insert id="saveAdvert" parameterType="Advert">
		INSERT INTO ADVERT (ADVERTID, USERNAME,STARTDATE,EXPIRYDATE,SERVICEPERIOD,REMAINEDPERIOD,STATUS)
		VALUES (#{advertId}, #{username},#{startDate},#{expiryDate},#{servicePeriod},#{remainedPeriod},#{status})
	</insert>



</mapper>